.unselectable {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#main-menu, #stats, #help, #paused {
    text-align: center;
}

#main-menu h1 {
    color: #38c;
    text-transform: uppercase;
}

#main-menu .ui-content img {
    margin-bottom: 1em;
}

#status {
    width: 100%;
}

#status td {
	font-size: xx-large;
	width: 33%;
}

#level {
	text-align: left;
}

#time {
	color: #ffa500;
	text-align: center;
}

#ctrl {
	text-align: right;
}

.center {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}

#tileset {
	background-color: #fff;
	height: 480px;
	width: 480px;
}

#tileset table {
	height: 100%;
	width: 100%;
}

#tileset .tile {
	cursor: pointer;
}

#stats .ui-content {
	font-size: large;
	margin-bottom: 20px;
}

#stats .ui-content span {
	font-style: italic;
}

#highest-level-reached {
	color: #ffa500;
	font-style: normal;
	font-weight: bold;
}

#paused-status {
    width: 100%;
}

#paused-level {
    text-align:left;
}

#paused-time {
    text-align: right;
}

@media (max-width: 320px) {
	#tileset {
		height: 300px;
		width: 300px;
	}
}

@media (min-width: 321px) and (max-width: 340px) {
	#tileset {
		height: 320px;
		width: 320px;
	}
}

@media (min-width: 341px) and (max-width: 360px) {
	#tileset {
		height: 340px;
		width: 340px;
	}
}

@media (min-width: 361px) and (max-width: 380px) {
	#tileset {
		height: 360px;
		width: 360px;
	}
}

@media (min-width: 381px) and (max-width: 400px) {
	#tileset {
		height: 380px;
		width: 380px;
	}
}

@media (min-width: 401px) and (max-width: 420px) {
	#tileset {
		height: 400px;
		width: 400px;
	}
}

@media (min-width: 421px) and (max-width: 440px) {
	#tileset {
		height: 420px;
		width: 420px;
	}
}

@media (min-width: 441px) and (max-width: 460px) {
	#tileset {
		height: 440px;
		width: 440px;
	}
}

@media (min-width: 461px) and (max-width: 480px) {
	#tileset {
		height: 460px;
		width: 460px;
	}
}