<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.temelm.tint" version="1.0">
	<name>tint</name>
	
	<description>tap on the tile with the different tint</description>
	
	<author email="mustafatemel90@gmail.com">Mustafa Temel</author>
	
	<platform name="android"/>

    <preference name="permissions" value="none"/>
	<preference name="orientation" value="portrait"/>

	<icon src="icon.png"/>
</widget>